<footer>

<ul class="footer-nav-items">
  <li><a class="navbar-item" href="#over-ons">Over ons</a></li>
  <li><a class="navbar-item" href="#events">Events</a></li>
  <li><a class="navbar-item" href="#publicaties">Publicaties</a></li>
  <li><a class="navbar-item" href="#leden">Leden</a></li>
  <li><a class="navbar-item" href="#vacatures">Vacatures</a></li>
  <li><a class="navbar-item" href="#algemene-voorwaarden">Algemene voorwaarden</a></li>
  <li><a class="navbar-item" href="#privacybeleid">Privacybeleid</a></li>
</ul>

<address class="footer-adress">
  <div class="adress-info">
    <p class="company-name">Dutch Digital Agencies</p>
    <p>Overhoeksplein 1</p>
    <p>1031 KS Amsterdam</p>
  </div>
  
  <div class="footer-contact-info">
    <a href="tel:0854010391">(0)85 4010391</a>
    <a href="mailto:info@dutchdigitalagencies.com">info@dutchdigitalagencies.com</a>
  </div>

</address>

<ul class="social-media-container">
  <div class="social-media">
    <li class="social-media-item"><a href="https://www.instagram.com">Instagram</a></li>
    <li class="social-media-item"><a href="https://www.linkedin.com">Facebook</a></li>
    <li class="social-media-item"><a href="https://www.x.com">Linkedin</a></li>
  </div>
  
  <div class="copyright">
    <p>Copyright &copy; 2023 Dutch Digital Agencies</p>
  </div>
</ul>








</footer>

</body>

</html>